* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
.tetris {
  display: flex;
  width: 100%;
  height: 100%;
}

.tetris__header {
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0;
}

.tetris__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.tetris__box {
  width: 200px;
  height: 400px;
  border: 1px solid #000000;
}

.tetris__box_border-width_3 {
  border-width: 3px;
}

.tetris__box--title {
  width: 192px;
  height: 32px;
  top: 258px;
  left: 254px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  border: 1px solid transparent;
  margin-top: 50px;
}
.tetris__controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.tetris__score-title,
.tetris__heightscore-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 5px;
}

.tetris__action-button {
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 150px;
  margin-top: 20px;
}
tetris__action-button_newgame-button {
  background-color: white;
  color: #4f4cca;
  border-color: #4f4cca;
}
tetris__action-button_is-pause-button {
  background-color: white;
  color: #57b25a;
  border-color: #57b25a;
}

.tetris__action-button_newgame-button:hover {
  background-color: #4f4cca;
  color: white;
}

.tetris__action-button_is-pause-button:hover {
  background-color: #57b25a;
  color: white;
}
