* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
.tetris {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tetris__header {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58.09px;
  text-align: center;
  width: 806px;
  height: 83px;
  position: absolute;
  top: 56px;
  left: 244px;
}

.tetris__body {
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.rectangle__box {
  width: 200px;
  height: 400px;
  position: absolute;
  top: 200px;
  left: 250px;
  border: 1px solid #000000;
}

.rectangle__box--550 {
  width: 200px;
  height: 400px;
  position: absolute;
  top: 200px;
  left: 550px;
  border: 3px solid #000000;
  box-shadow: 0 0 0 3px #ffffff;
}
.rectangle__box--850 {
  width: 200px;
  height: 400px;
  position: absolute;
  top: 200px;
  left: 850px;
  border: 1px solid #000000;
}
.rectangle__box--title {
  width: 192px;
  height: 32px;
  top: 258px;
  left: 254px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  border: 1px solid transparent;
  margin-top: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.score,
.high-score {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 5px;
}

.button {
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 150px;
  margin-top: 20px;
}

.new-game {
  background-color: white;
  color: #4f4cca;
  border-color: #4f4cca;
}
.new-game:hover {
  background-color: #4f4cca;
  color: white;
}
.pause {
  background-color: white;
  color: #57b25a;
  border-color: #57b25a;
}
.pause:hover {
  background-color: #57b25a;
  color: white;
}
